<?xml version="1.0" standalone="yes"?>
<config>
  <apiEndpoint>http://serviciostrygnoss.gnoss.com/api/v3</apiEndpoint>
  <communityShortName></communityShortName>
  <developerEmail>test@gnos.com</developerEmail>
  <ontologyName></ontologyName>
  <consumer>
    <consumerKey></consumerKey>
    <consumerSecret></consumerSecret>
  </consumer>
  <token>
    <tokenKey></tokenKey>
    <tokenSecret></tokenSecret>
  </token>
<log>
  <logPath>c:\logs</logPath>
  <logFileName>gnossapi.log</logFileName>
  <logLevel>TRACE</logLevel>
</log>
</config>